[package]
name = "nvapi-sys"
version = "0.3.0" # keep in sync with html_root_url
authors = ["arcnmx"]
edition = "2021"

description = "NVIDIA NVAPI FFI bindings"
keywords = ["nvidia", "nvapi", "gtx"]

documentation = "https://docs.rs/nvapi-sys/latest/nvapi_sys/"
repository = "https://github.com/arcnmx/nvapi-rs"
readme = "../README.md"
license = "MIT"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3", features = ["libloaderapi", "unknwnbase"] }

[dependencies]
bitflags = "1"
serde = { version = "1", features = ["derive"], optional = true }
zerocopy = "0.6"

[features]
default = ["serde"]
serde = ["dep:serde"]
